<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link p-3" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
      </ul>
    </div>
    <hr>
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>