<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the Home Page!</h1>
  <p class="lead">This is the home section of the application. Explore the users and categories by clicking on the links
    in the sidebar.</p>
  <hr class="my-4">
  <p>Use the navigation bar to access other pages.</p>
  <a class="btn btn-primary btn-lg" routerLink="/users" role="button">Go to Users</a>
  <a class="btn btn-secondary btn-lg" routerLink="/categories" role="button">Go to Categories</a>
</div>
